.collection-name {
	color: #bb4014;
	line-height: 1.3;
}
.collectionsholder {
	list-style: none;
	margin: 0;
	padding: 0;
	& li {
		position: relative;
	}
	& a {
		display: block;
	}
}
.collectionsholder .justify-item {
	@media screen and (min-width: $break-medium) {
		width: 48%;
	}
	@media screen and (min-width: $break-large) {
		width: 32%;
	}
}
.collection-box {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 80%;
}
.collectionsholder .title {
	color: #fff;
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	line-height: 1.2;
	padding: 2em 1.5em 1em;
	width: 100%;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(90%,rgba(0,0,0,1)));
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%);
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%);
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%);
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );

	& a {
		color: #fff;
	}
}
/* Credit Link */
.creditlink {
	position: absolute;
	right: 20px;
	bottom: 20px;
	display: block;
	opacity: .8;
	&:hover, &:focus {
		opacity: 1;
	}
}



/* ---------------------------------------------------------------
Collection Highlights
--------------------------------------------------------------- */
.highlights {
	margin-top: 2em;
	@media (min-width: $break-medium) {
		margin-top: 5em;
	}
}
.highlights h2 {
	margin-bottom: 1.5em;
	text-align: center;
	text-transform: uppercase;
}
.collection-highlights {
	list-style: none;
	margin: 0;
	padding: 0;
}
.highlight-item {
	height: auto;
	margin: 0 0 1em 0;
	position: relative;
	width: 100%;
	@media (min-width: $break-medium) {
		border-right: 1px solid #fff;
		border-bottom: 1px solid #fff;
		float: left;
		margin: 0;
		height: 300px;
		width: 50%;
		height: 349px;
	}
	@media (min-width: $break-large) {
		width: 25%;
		height: 228px;
	}
	@media (min-width: $break-xlarge) {
		height: 278px;
	}
}
.highlight-link {
	display: block;
	width: 100%;
	height: 100%;
	background-color: none;
	transition: all .3s ease;
}

.highlight-img {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	width: 30%;
	float: left;
	padding-bottom: 30%;
	@media (min-width: $break-medium) {
		position: absolute;
		height: 100%;
		width: 100%;
	}
}
.highlight-content {
	float: left;
	width: 50%;
	padding: 0 10px;
	z-index: 20;
	transition: transform .3s ease;
	@media (min-width: $break-medium) {
		float: none;
		position: absolute;
		bottom:0;
		width: 100%;
		padding: 50px 1em 15px 1em;
	}
}
.highlight-link:hover .highlight-content,
.highlight-link:focus .highlight-content {
	@media (min-width: $break-medium) {
		background: transparent;
		opacity: 1;
		padding: 0 1em;
		position: relative;
		top: 50%;
		bottom: auto;
		transform: translateY(-50%);
	}
}
.highlight-artist {
	color: $link;
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 5px 0;
	@media (min-width: $break-medium) {
		color: #e19877;
		margin: 0;
	}
}
.highlight-lifespan {
	font-size: 13px;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	@media (min-width: $break-medium) {
		color: #fff;
		font-size: 16px;
	}
}
.highlight-title {
	font-size: 13px;
	font-style: italic;
	font-weight: normal;
	& p {
		display: inline;
		margin: 0;
	}
	@media (min-width: $break-medium) {
		color: #fff;
		font-size: 16px;
	}
}
.highlight-title span {
	font-style: normal;
}
.highlight-link::before {
	@media (min-width: $break-medium) {
		content: '';
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 50%, rgba(0,0,0,1) 90%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(0,0,0,0)), color-stop(90%,rgba(0,0,0,1)));
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 50%,rgba(0,0,0,1) 90%);
background: -o-linear-gradient(top,  rgba(0,0,0,0) 50%,rgba(0,0,0,1) 90%);
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 50%,rgba(0,0,0,1) 90%);
background: linear-gradient(to bottom,  rgba(0,0,0,0) 50%,rgba(0,0,0,1) 90%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );

		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		transition: background-color .3s ease-in-out;
	}
}
.highlight-link:hover:before,
.highlight-link:focus:before {
  background-color: rgba(0,0,0,.8);
  position: absolute;
  width: 100%;
  height: 100%;
}
.highlight-lifespan, .highlight-title {
	@media (min-width: $break-medium) {
		display: none;
	}
}
.highight-link:hover .highlight-lifespan,
.highlight-link:hover .highlight-title,
.highight-link:focus .highlight-lifespan,
.highlight-link:focus .highlight-title {

		display: block;

}




