/*-------------------------------------------
    Colors
-------------------------------------------*/
$link: #bb4014;
$yellow: #ffce39;
$aqua: #3a9998;


/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base-font: 18;
$base-font-size: 18px;


/*-------------------------------------------
    Fonts
-------------------------------------------*/
$heading-font: 'Lato', sans-serif;
$body-font: 'Source Sans Pro', sans-serif;


/*-------------------------------------------
    Media Queries
-------------------------------------------*/
$break-small: 481px;
$break-medium: 1024px;
$break-large: 1280px;
$break-xlarge: 1440px;