.footer {
	background-color: #4f4b48;
	color: #fff;
}
.footer a {
	color: #fff;
}
.footer-top {
	padding: 40px 0;
}
.footer-top h3 {
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
}
.footer-bottom {
	background-color: #84817c;
	padding: 15px 0;
}

.footer-links {
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0;
}
.footer-links li a {
	display: block;
	text-transform: uppercase;
	border-left: 1px solid rgba(255,255,255,.75);
	padding: 1px 12px;
	transition: all .12s linear;

}
.footer-links li a:hover {
	text-decoration: none;
	padding-left: 15px;
}
.footer .footer-links.last li a {
	color: #eee;
	font-size: 12px;
}
/* ---------------------------------------------------------------
Newsletter Signup Form
--------------------------------------------------------------- */
#newsletter {
	font-size: 14px;
	margin-bottom: 2em;
	@media (min-width: $break-small) {
		float: left;
	}
}
#newsletter label {
	display: block;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 rgba(0,0,0,.1);
}
#newsletter .text {
	border: 1px solid #716e6a;
	padding: 5px;
	width: 80%;
}
#newsletter .submit {
	background: #4f4b48;
	border: 1px solid #716e6a;
	color: #fff;
	padding: 5px;
}

/* ---------------------------------------------------------------
Social Icons
--------------------------------------------------------------- */
.social-icons {
	list-style: none;
	margin: 0 0 2em 0;
	padding: 0;
	text-align: center;
	@media (min-width: $break-small) {
		float: left;
	}
}
.social-icons li {
	display: inline-block;
	margin: 0 5px;
}
.social-icons li a {
	display: block;
	opacity: .8;
	&:hover {
		opacity: 1;
	}
}
.footer-logos {
	float: right;
}