
/* News Entry */
.newsentry .entryphoto {
	@media (min-width: $break-medium) {
		margin-top: -70px;
	}
}
.newsentry .entry-date {
  font-size: 14px !important;
}
.newsentry .entry-title {
	margin: 0.5em 0;
	@media screen and (min-width: 768px){
		font-size: 50px;
	}
}