/* ---------------------------------------------------------------
Section Title
--------------------------------------------------------------- */
.side-navigation .section-title {
	font-size: 40px;
	font-weight: normal;
	margin-top: .5em;
	text-transform: none;
	& a {
		color: #333;
	}
}

/* ---------------------------------------------------------------
Side Navigation
--------------------------------------------------------------- */
.side-navigation {
	margin-bottom: 3em;
}
.sec-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.sec-nav li a {
	color: #333;
	display: block;
}
.sec-nav .first-level > li {
	border-bottom: 1px solid #333;
}
.first-level > li  > a {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.3;
	padding: 12px 0;
}
.first-level li.active > a {
	color: $link;
}
.first-level li a:hover, .first-level li a:focus {
	color: $link;
}

/* Second level */
.sec-nav .second-level {
	margin-bottom: 1em;
}
.second-level > li > a {
	font-size: 16px;
	line-height: 1.3;
	padding: 5px 0;
}

/* ---------------------------------------------------------------
Mobile Styles (Naver)
--------------------------------------------------------------- */
.naver.enabled .naver-container {
	padding: 0;
}
.subnavigation .block {
	@media (max-width: $break-large -1) {
		margin-top: 0;
	}
}