/* ---------------------------------------------------------------
Base styles
--------------------------------------------------------------- */
html {
	font-size: 15px;
	line-height: 1.5;
	@media screen and (min-width: $break-small) {
		font-size: $base-font-size;
		line-height: 1.6;
	}
}
body {
	background: #fafafa;
	color: #333;
	font-family: $body-font;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
.mobile-hide {
	@media (max-width: $break-medium - 1 ) {
		display: none;
	}
}
.tablet-hide {
	@media (max-width: $break-large - 1 ) {
		display: none;
	}
}
.tablet-show {
	@media (min-width: $break-large) {
		display: none;
	}
}

/* ---------------------------------------------------------------
Layout
--------------------------------------------------------------- */
.container {
	max-width: $break-xlarge;
	margin-right: auto;
	margin-left: auto;
	padding-left: 25px;
	padding-right: 25px;
	position: relative;
	@media (min-width: $break-small) {
		width: $break-small - 20;
	}
	@media (min-width: $break-medium) {
		width: $break-medium - 20;
	}
	@media (min-width: $break-large) {
		width: $break-large - 20;
	}
	@media (min-width: $break-xlarge) {
		width: $break-xlarge - 40;
	}
}
.article {
	margin: 5em 0 3em 0;
}

.page-photo {
	max-height: 400px;
	overflow: hidden;
}
.page-photo img {
	display: block;
	width: 100%;
}



















/* ---------------------------------------------------------------
Justify
--------------------------------------------------------------- */
.justify {
	font-size: 0.1px;
	list-style: none;
	margin: 1em 0;
	overflow: hidden;
	text-align: justify;
}
.justify:after {
	content: '';
	display: inline-block;
	width: 100%;
}
.justify-item {
	display: inline-block;
	font-size: $base-font-size;
	margin-bottom: 1em;
	text-align: left;
	vertical-align: top;
	width: 100%;
}
.justify-2 .justify-item {
	@media screen and (min-width: $break-small) {
		width: 48%;
	}
}
.justify-3 .justify-item {
	@media screen and (min-width: $break-small) {
		width: 48%;
	}
	@media screen and (min-width: $break-medium) {
		width: 32%;
	}
}
.justify-4 .justify-item {
	@media screen and (min-width: $break-small) {
		width: 48%;
	}
	@media screen and (min-width: $break-medium) {
		width: 24%;
	}
}
.justify .filler {
	height: 0 !important;
	margin: 0 !important;
}


/* ---------------------------------------------------------------
Admin Login form fields
--------------------------------------------------------------- */
#MemberLoginForm_LoginForm fieldset,
.UserDefinedForm .article fieldset {
	padding: 1em 0;
	border: none;
}
.UserDefinedForm .article fieldset .field {
	margin-bottom: 8px;
	overflow: hidden;
}
#MemberLoginForm_LoginForm .field .text,
.UserDefinedForm .article fieldset .field .text {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.UserDefinedForm .article fieldset .field .textarea {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.UserDefinedForm .article fieldset label {
	font-weight: bold;
}
#MemberLoginForm_LoginForm #Remember label.right,
.UserDefinedForm .article fieldset label.right {
	float: left;
	padding-right: 5px;
}
.UserDefinedForm .article fieldset .field .optionset {
	list-style: none;
	margin: 0;
	& li label {
		font-weight: normal;
		padding-left: 5px;
	}
}
.UserDefinedForm .article fieldset label.left {
	float: none;
}
#MemberLoginForm_LoginForm .Actions .action,
.UserDefinedForm .article  .Actions .action {
	display: inline-block;
	padding: 8px 12px;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	color: #333;
	background-image: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	text-decoration: none;

	&:hover {
		background-color: #eee;
		border-color: #adadad;
	}
}
 .UserDefinedForm .article .FormHeading {
 	border-top: 1px solid #ccc;
 	padding-top: .5em;
 }