.artwork-image {
	padding: 20px;
	text-align: center;
}
.artwork-image img {
	display: inline-block;
	margin: 0 auto;
}
.artworktitle {
	color: #333;
	font-size: 18px;
	& p {
		margin: 0;
		display: inline;
	}
}
.cutline {
	& p {
		display: inline;
		margin: 0;
	}
}
.artcredit {
	display: block;
	text-align: right;
	font-size: 14px;
	margin: 5px 0;
}
.fs-lightbox-caption {
	color: #eeeeee;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.fs-lightbox-caption p {
	display: inline;
}