.artwork-image {
	padding: 20px;
	text-align: center;
}
.artwork-image img {
	display: inline-block;
	margin: 0 auto;
}
.artworktitle {
	color: #333;
	font-size: 18px;
	& p {
		margin: 0;
		display: inline;
	}
}