.dailyart-entry:not(:first-of-type) {
	margin-top: 7em;
	padding-top: 6em;
	border-top: 1px dashed #ddd;
}
.dailyart-image {
	margin: 2em 0;
	padding: 10px;
	text-align: center;
}
.dailyart h1 {
	font-size: 45px;
	text-align: center;
}
.dailyart-date {
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	font-size: 14px;
}

/* ---------------------------------------------------------------
Social Media Links
--------------------------------------------------------------- */
.dailyart__social {
	list-style: none;
	margin: 0 0 1em 0;
	padding: .75rem 0;
	line-height: 1;
	text-align: center;
	&:before {
		content: 'Share This:';
		display: inline;
		color: #666;
		font-size: 13px;
		font-style: italic;
	}
	& li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 8px;
	}
	& li a {
		display: block;
	}
	& img {
		display: block;
	}
}


/* ---------------------------------------------------------------
Prev/Next Links
--------------------------------------------------------------- */
.prevnext {
	background: #f4f4f4;
	border-top: 1px solid #ddd;
	overflow: hidden;
	padding: 2em 0 2.5em;
	& img {
		border: 3px solid #fafafa;
		border-radius: 50%;
		vertical-align: middle;
		margin: 0 10px;
		transition: border .3s ease-in-out;
	}
	&__arrows {
		font-size: 30px;
		vertical-align: middle;
		position: relative;
		transition: .2s;
	}
	&__name {
		display: inline-block;
		margin: 0;
		vertical-align: middle;
	}
}

.prevnext__link:hover img {
	border-color: $link;
}
.prevnext .prev {float: left;}
.prevnext .prev .arrows {left: 0;}
.prevnext .prev:hover .arrows {left: -5px;}

.prevnext .next {float: right;}
.prevnext .next .arrows {right: 0;}
.prevnext .next:hover .arrows {right: -5px;}

.prevnext__link:hover .title {
	text-decoration: underline;
}


/* ---------------------------------------------------------------
Tags & Categories
--------------------------------------------------------------- */
.post-meta {
	font-size: 14px;
}
.post-meta .tags a {
	background-color: $link;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	margin-bottom: 3px;
	padding: 3px 8px 2px;
}