.dailyart-entry:not(:first-of-type) {
	margin-top: 7em;
	padding-top: 6em;
	border-top: 1px dashed #ddd;
}
.dailyart-image {
	margin: 2em 0;
	padding: 10px;
	text-align: center;
}
.dailyart h1 {
	font-size: 45px;
	text-align: center;
}
.dailyart-date {
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	font-size: 14px;
}

/* ---------------------------------------------------------------
Social Media Links
--------------------------------------------------------------- */
.dailyart__social {
	list-style: none;
	margin: 0 0 1em 0;
	padding: .75rem 0;
	line-height: 1;
	text-align: center;
	&:before {
		content: 'Share This:';
		display: inline;
		color: #666;
		font-size: 13px;
		font-style: italic;
	}
	& li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 8px;
	}
	& li a {
		display: block;
	}
	& img {
		display: block;
	}
}

/* ---------------------------------------------------------------
Day Slider
--------------------------------------------------------------- */
.dailyart__slider-holder{
	background: #f4f4f4;
	height: 173px;
	opacity: 0;
	transition: opacity .3s linear;
	border-top: 1px solid #dddddd;
	border-bottom: 2px solid #dddddd;
	
	&--slick-active{
		opacity: 1;
	}
}
.dailyart__slider-container{
	max-width: 80%;
	margin: auto;
}
.dailyart__day-slider{

}

.dailyart__day{
	margin: 45px 15px;
	background-color: white;
	display: block;
	color: black;
	background-size: cover;
	position: relative;
	text-shadow: 0.278px 1.981px 2px rgba(0, 0, 0, 0.39);
	width: 94px;
	&--has-post{
		color: white;
	
	}

	&--no-post{
		opacity: 0.2;
	}
	&--inactive{

	}
	&--active{
		// background-color: #c65223;
		// color: white;
		width: 168px;
		 margin: 0 15px;
		// padding: 33px 0;
display: inline-block;
	position: relative;
	background: #c65223;
	height: 200px;
	padding: 15px 0;
	// width: 200px;
	text-align: center;
	 clip-path: circle(100px at center);
		&:after{
			content: '';
			display: block;  
			position: absolute;
			left: 0;
			top: 100%;
			width: 0;
			height: 0;
			border-top: 20px solid #c65223;
			border-right: 84px solid transparent;
			border-bottom: 0 solid transparent;
			border-left: 84px solid transparent;
		}

		.dailyart__month{
			background: #c65223;
			font-size: 33px;
			line-height: 1;
		}
		.dailyart__date{
			font-size: 74px;
			line-height: 1;
		}
		.dailyart__screen{
			display: none;
		}
	}

}

.dailyart__month{
	display: block;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
	position: relative;
	z-index: 99;
}

.dailyart__date{
	display: block;
	font-size: 45px;
	text-align: center;
	line-height: 1.4;
	position: relative;
	z-index: 99;

}

.dailyart__screen{
	position: absolute;
	background: rgba(0,0,0,0.45);
	width: 100%;
	height: 100%;
}

/* ---------------------------------------------------------------
Prev/Next Links
--------------------------------------------------------------- */
.prevnext {
	background: #f4f4f4;
	border-top: 1px solid #ddd;
	overflow: hidden;
	padding: 2em 0 2.5em;
	& img {
		border: 3px solid #fafafa;
		border-radius: 50%;
		vertical-align: middle;
		margin: 0 10px;
		transition: border .3s ease-in-out;
	}
	&__arrows {
		font-size: 30px;
		vertical-align: middle;
		position: relative;
		transition: .2s;
	}
	&__name {
		display: inline-block;
		margin: 0;
		vertical-align: middle;
	}
}

.prevnext__link:hover img {
	border-color: $link;
}
.prevnext .prev {float: left;}
.prevnext .prev .arrows {left: 0;}
.prevnext .prev:hover .arrows {left: -5px;}

.prevnext .next {float: right;}
.prevnext .next .arrows {right: 0;}
.prevnext .next:hover .arrows {right: -5px;}

.prevnext__link:hover .title {
	text-decoration: underline;
}


/* ---------------------------------------------------------------
Tags & Categories
--------------------------------------------------------------- */
.post-meta {
	font-size: 14px;
}
.post-meta .tags a {
	background-color: $link;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	margin-bottom: 3px;
	padding: 3px 8px 2px;
}