/* Range slider styles are in scss/plugins/nouislider.scss and nouislider-pips.scss */

.member-levels{
	padding: 60px 25px 40px;
	@media (min-width: $break-medium) {
		padding: 60px 10px;
	}
}
.tab-content {
	margin-top: 130px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #eee;
	@media (min-width: $break-medium) {
		margin-top: 110px;
	}
	& h2 {
		color: $aqua;
		font-weight: bold;
		margin-top: 5px;
		text-transform: uppercase;
	}
}

.noUi-pips-horizontal div:nth-child(2):after,
.noUi-pips-horizontal div:nth-child(18):after,
.noUi-pips-horizontal div:nth-child(20):after {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: #fafafa;
}
.noUi-pips-horizontal div:nth-child(2):after {
	content: "< $100";
}
.noUi-pips-horizontal div:nth-child(18):after {
	content: "Gift of Art";
}
.noUi-pips-horizontal div:nth-child(20):after {
	content: "Deferred Gifts";
}