.newsholder-entries .newsblock {
	border-top: 1px solid #ddd;
	border-bottom: 0;
	margin: 20px 0 0;
	padding: 25px 0 0 0;
	position: relative;
}
.newsholder-entries .newsblock-info {
  padding: 0 0 6px;
}
.newsholder-entries .newsblock-title {
  margin: 0 0 5px;
}
.newsholder-entries .entry-date {
	color: #666;
	font-size: 13px;
	margin: 0 0 10px 0;
}
.newsholder-entries .entry-content {
	margin: 0;
}